.firstpage, .lastpage {
    background-image: url('atom/background.jpg');
    vertical-align: center;
}

.firstpage h1 {
    margin-top: 350px;
    color: #ffffff;
}

.lastpage h1 {
    margin-top: 415px;
    color: #ffffff;
}

.firstpage h2, .lastpage h2 {
    color: #ffffff;
}

.note_and_mark {
    background-image: url('atom/background.jpg');
    text-align: center;
    margin-top: 50%;
}

.note_and_mark h1 {
    margin-top: 35%;
    color: #ffffff;
}

.remark-slide-content:not(.title) {
    background-image: url('atom/head.png');
    background-position: top;
    padding-top: 70px;
}

h1, h2, h3 {
    font-family: 'HelveticaNeueCyrBold';
    color: rgb(84, 65, 148);
}


