.firstpage, .lastpage {
    background-image: url('atom/background.jpg');
    vertical-align: center;
}

.firstpage h1 {
    margin-top: 350px;
    color: #ffffff;
}

.lastpage h1 {
    margin-top: 280px;
    color: #ffffff;
}

.firstpage h2, .lastpage h2 {
    color: #ffffff;
}

.note_and_mark {
    background-image: url('atom/background.jpg');
    text-align: center;
    margin-top: 50%;
}

.note_and_mark h1 {
    margin-top: 35%;
    color: #ffffff;
}

.remark-slide-content:not(.title) {
    background-image: url('atom/head.png');
    background-position: top;
    padding-top: 70px;
}

.remark-slide-content.optable {
    padding-top: 80px;
}

h1, h2, h3 {
    font-family: 'HelveticaNeueCyrBold';
    color: rgb(84, 65, 148);
}

.remark-code {
    border-radius: 4px;
    line-height: 1.2em;
/*    font-size: 20px;*/
}

.remark-slide-content:not(.title):not(.center) h1:first-of-type {
    top: 0px;
    position: absolute;
}

.center h1 {
    top: inherit !important;
    position: inherit !important;
}