/*.remark-container.remark-presenter-mode .remark-slides-area {
    height: 80%;
    opacity: 0.3;
}

.remark-preview-area {
    opacity: 1;
    bottom: 30%;
    left: 7%;
}
*/

.perl-nof {
	overflow-x: visible !important;
}

.apos .remark-code-span-highlighted {
    background-color: #e8e8e8;

}

.apos .remark-code-span-highlighted:before, .apos .remark-code-span-highlighted:after {
    content: "`";
}

h1 code.remark-inline-code, h2 code.remark-inline-code, h3 code.remark-inline-code {
    font-size: inherit !important;
    margin: 0 0.2em !important;
}

.bold_font {
    font-family: 'HelveticaNeueCyrBold';
    font-weight: bold;
}

.remark-code, .remark-inline-code {
    font-family: 'PTM55F';
    font-size: 24px;
    //line-height: 1.15em;
    background-color: #e8e8e8;
}

.hljs.remark-code, .hljs.remark-inline-code {
    background-color: #e8e8e8;
}

.floatright {
    float: right;
    padding: 10px 10px 10px 16px;
    max-width: 45%;
}

.floatleft {
    float: left;
    padding: 10px 10px 10px 16px;
    max-width: 45%;
}

/*.remark-code-span-highlighted {
background: inherit;
}*/

/*.remark-code-span-highlighted:before, .remark-code-span-highlighted:after {
content: "`";
}*/

.clear {
    clear: both;
}

.center-aligned {
    text-align: center;
    font-size: 36pt;
}

.remark-slide-content {
    font-family: "HelveticaNeueCyr";
    line-height: 1.5em;
}

.remark-slide-content strong {
    font-family: "HelveticaNeueCyrBold";
}

.not .remark-code-line-highlighted, .not .remark-code-span-highlighted {
    background-color: rgba(255, 0, 0, 0.5)
}

.minpad-zp {
    margin-left: -60px;
}

.small {
    font-size: 24px;
    line-height: 1.15em;
}

.absmiddle {
    position: absolute;
}

.remark-slide-content h1 { font-size: 2em; }
.remark-slide-content h2 { font-size: 1.1em; }
.remark-slide-content h3 { font-size: 1em; }
.remark-inline-code {
    background-color: #e2e2e2;
    padding-left: 0.05em;
    padding-right: 0.05em;
    margin-left: -0.05em;
    margin-right: -0.05em;
}

.big {
    font-size: 1.5em;
}

.red {
    color: red;
}

.note {
    display:block;
    font-size: 18px;
}

.remark-slide-content img {
     width: 100%;
}

.normal-width img {
     width: initial;
}

table {
    width:95%;
    border-collapse: separate;
}

table td, table th {}

.hidden { background-color: silver; }

.delete { background-color: #ffaaaa; }

.optable {
    font-size: 16px;
    line-height: 1em;
}
.optable * { line-height: inherit; }        
.optable .remark-inline-code {
    margin-left: 0.1em;
    margin-right: 0.1em;
    padding: 0;
}

.hljs .hljs-comment { font-style: normal !important; }

.footer {
    position: absolute;
    bottom: 12px;
    left: 128px;
    font-size: 24px;
}

.remark-slide-content .img-uni img {
    width: 120% !important;
    margin-left: -10%;
    margin-top: -10%;
}

.remark-slide-content .img-xkcd img {
    width: 600px !important;
    height: 607px !important;
}

.left {
    clear:both;
    float: left;
    width: 49%;
}

.right {
    float: right;
    text-align: left;
    width: 49%;
}
.right * { text-align: left;}
.right ~ p { clear: both; }
.right:after {
    content: "";
    display: table;
    clear: both;
}

.f-right {
    float: right;
}

.left:after {
    content: "";
    display: table;
    clear: both;
}

.w70 {
    width: 69%;
}
.w50 {
    width: 49%;
}
.w30 {
    width: 29%;
}
.h100 {
    height: 100%;
    max-height: 100%;
}
.clear {
    content: "";
    display: table;
    clear:both;
}

.casecharts th, .casecharts td {
    border-spacing: 0;
    border-style: solid;
    border-color: teal;
    border-width: 1px;
    color: black;
    vertical-align: top;
    text-align: center;
    line-height: 
}
.casecharts td.g {
    font-size: 120%;
    text-align: Center;
    color: #808080;
}
.casecharts td.z {
    font-size: 120%;
    text-align: Center;
    font-weight: bold;
    background-color: #EEEEEE;
}
.casecharts td.n {
    font-size: 120%;
    text-align: Center;
    color: #000000;
    background-color: #CCCCFF;
}        
.casecharts tt {
    font-size: 50%;
}
.huge1 {
    font-size: 80px;
}
.huge {
    font-size: 80px;
    font-family: 'Apple Color Emoji';
}
.small .remark-code {
    font-size: 18px !important;
}
.small16 .remark-code {
    font-size: 16px !important;
}
.small14 .remark-code {
    font-size: 14px !important;
    line-height: 1.2em;
}

table .small16 {
    font-size: 16px !important;
}

.small16 .remark-inline-code {
    font-size: 16px !important;
}

@page {
    size: 908px 681px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}
