.firstpage, .lastpage {
    background-image: url('track/background.png');
    vertical-align: center;
}

.firstpage h1 {
    margin-top: 350px;
    color: #ffffff;
}

.lastpage h1 {
    margin-top: 315px;
    color: #ffffff;
}

.firstpage h2, .lastpage h2 {
    color: #ffffff;
}

.note_and_mark {
    background-image: url('track/background.png');
    text-align: center;
    margin-top: 50%;
}

.note_and_mark h1 {
    margin-top: 35%;
    color: #ffffff;
}

.remark-slide-content:not(.title) {
    background-image: url('track/head.png');
    background-position: top;
    background-position-y: 22px;
    padding-top: 70px;
    font-family: Calibry;
}

.remark-slide-content p, li
{
    font-size: 24px;
}
.remark-slide-content.optable {
    padding-top: 80px;
}

h1, h2, h3 {
    font-family: 'HelveticaNeueCyrBold';
    color: #C1010D;
}

.footnote {
    position: absolute;
    bottom: 12px;
    left: 80px;
    background-color: #e8e8e8;
    /* color: #c1010d; */
    color: #444444;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 20px;
}

.footnote a {
    color: #444444;
    font-weight: bold;
}

.remark-code {
    border-radius: 4px;
    line-height: 1.2em;
/*    font-size: 20px;*/
}
